assignment6/src/main/mule/assignment6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="960ccb3d-bcdc-43d2-b0a3-97b31c1ca0c1" >
		<file:connection workingDir="C:\Users\kapmedir\AnypointStudio\studio-workspace\assignment6" />
	</file:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="15e11a80-d19f-46e2-9d79-cbd8d2cce3d4" >
		<salesforce:cached-basic-connection username="kapil.mediratta@publicissapient.com" password="Sugarcane1!" securityToken="wUkvsbDCWOHwB2Qg1eZmffmlk" />
	</salesforce:sfdc-config>
	<flow name="CsvToSalesforce" doc:id="6ec8d72d-baa1-4f8c-9b92-ee38de7d0955" >
		<file:listener doc:name="On New or Updated File" doc:id="15608288-f96e-4b19-b45e-25d4036379cb" config-ref="File_Config" directory="src\main\resources\input" autoDelete="true">
			<scheduling-strategy>
				<fixed-frequency frequency="20000"/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="From CSV To Java" doc:id="9cbd5f7d-9e20-4f6e-97e4-6ca12818fcfa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="BatchProcessCsv" doc:id="8e4f80a3-e1a5-44d3-85ef-e3d7327d8a3c" >
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="d5468aea-ab31-4331-a289-e7f90a4fea5d" >
					<ee:transform doc:name="Map with Salesforce Contact" doc:id="ba7bb8a1-d5c4-49fd-8164-8d87a8ed10c7" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	MailingCountry: payload."Country or Region",
	MailingState: payload."State or Province",
	MailingCity: payload."Address City",
	MailingPostalCode: payload."ZIP or Postal Code",
	FirstName: payload."First Name",
	LastName: payload."Last Name",
	Phone: payload."Office Phone",
	MobilePhone: payload."Mobile Phone",
	Fax: payload.Fax,
	Title: payload."Job Title"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="9366fa55-1246-48ea-8f1b-cc0abd7a501e" size="4">
						<salesforce:create type="Contact" doc:name="Create Contact" doc:id="4279d56d-74de-4807-96f1-2dac7b5151c2" config-ref="Salesforce_Config"/>
						<ee:transform doc:name="Return Payload" doc:id="94a91dc5-d8c1-4b4f-8da9-08c0659f7d30" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="a382253b-63d3-47de-8578-28d912ca95c7" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="92d7abee-9864-4d39-8c1f-1eb3d4fdba21" message="Csv Imported into Salesforc successfully"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
